/******************
 BUTTONS
 ******************/
.btn-link {
  font-family: 'sf-bold';
  padding: 0;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $black;
  @include font-size(1.4);

  i {
    padding-right: 5px;
    color: $blue;
    @include font-size(1);
  }

  &:hover {
    text-decoration: none;
    color: $blue;
  }
}

.btn {
@include border-radius(0px);
}
.btn-standard {
  color: $white;
  background-color: $gray-light;
}
.btn-standard:active,
.btn-standard:focus,
.btn-standard:hover {
  color: $white;
  background-color: $blue;
}

.btn-action {
  .btn {height:35px; width:35px;}
  i {font-size: 12px;
  font-weight: bold;}
}

.btn-outline {
  font-weight: bold;
  transition: all 0.2s ease 0s;
  color: $gray;
  border-width: 2px;
  border-color: $gray;
  border-radius: 0;
  background-color: transparent;
}

.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
  color: #fff;
  border-color: $gray;
  background-color: $gray;
}

.btn-outline-inverse {
  transition: all 0.2s ease 0s;
  color: #fff;
  border-width: 2px;
  border-color: #fff;
  border-radius: 0;
  background-color: transparent;
}

.btn-outline-inverse:active,
.btn-outline-inverse:focus,
.btn-outline-inverse:hover {
  color: $gray;
  border-color: #fff;
  background-color: #fff;
  text-shadow: none;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 10px;

  .icon-cross2 {
    font-size: 20px;
    color: red;
  }
}
// !SOCIAL BUTTONS
.social {
  margin: 0;
  padding: 0;
}

.social ul {
  margin: 0;
  padding: 5px;
}

.social ul li {
  display: inline-block;
  margin: 5px;
  list-style: none outside none;
}

.social i {
  // background-color: $gray;
  font-size: 18px;
  width: 40px;
  height: 40px;
  padding-top: 12px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  text-align: center;
  color: $white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -o-border-radius: 50%;
}

.social i:hover, .social-login .social i:hover {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  text-decoration: none;
  color: $white;
  background: $black;
}

.social .fa-facebook, .social-login .social .fa-facebook {
  background: #4060a5;
}

.social .fa-twitter, .social-login .social .fa-twitter {
  background: #00abe3;
}

.social .fa-google-plus, .social-login .social .fa-google-plus {
  background: #e64522;
}

.social .fa-pinterest, .social-login .social .fa-pinterest {
  background: #cb2027;
}

.social .fa-linkedin, .social-login .social .fa-linkedin {
  background: #0094bc;
}

.social .fa-instagram, .social-login .social .fa-instagram {
  background: #375989;
}

.social .fa-vimeo-square, .social-login .social .fa-vimeo-square {
  background: #83daeb;
}

.social .fa-youtube, .social-login .social .fa-youtube {
  background: #ff1f25;
}

.social .fa-youtube-play, .social-login .social .fa-youtube-play {
  background: #df192a;
}

.social .fa-th-list, .social-login .social .fa-th-list {
  background: $blue;
}

.inverse {
  .social i {background: transparent;}
  .social .fa-facebook:hover
  {
      background: #4060a5;
  }
  .social .fa-twitter:hover
  {
      background: #00abe3;
  }
  .social .fa-google-plus:hover
  {
      background: #e64522;
  }
  .social .fa-pinterest:hover
  {
      background: #cb2027;
  }
  .social .fa-linkedin:hover
  {
      background: #0094bc;
  }
  .social .fa-instagram:hover
  {
      background: #375989;
  }
  .social .fa-vimeo-square:hover
  {
      background: #83daeb;
  }
  .social .fa-youtube:hover
  {
      background: #ff1f25;
  }
  .social .fa-youtube-play:hover
  {
      background: #df192a;
  }
  .social .fa-th-list:hover
  {
      background: $blue;
  }
}


// !LOGO MOUSEOVER
img.grayscale {
  /* Firefox 3.5+ */
  // filter:gray;
  /* IE6-9 */
  // -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
  // opacity: 0.5;
  // transition: all 0.30s ease-in-out;
  // -moz-transition: all 0.30s ease-in-out;
  // -webkit-transition: all 0.30s ease-in-out;
}
// img.grayscale:hover {
//   filter:none;
//   -webkit-filter: grayscale(0%);
//   opacity: 1;
// }
// UPLOAD BUTTON
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.fileUpload input.upload {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter:alpha(opacity=0);
}

.pointerOnHover:hover {
  cursor: pointer;
}
// BIGGER ICONS on buttons
// .btn i {font-size: 1.5em; vertical-align: middle;}
// expanding click area on some links
a {
  position: relative;
}

.click-lg:after {
  position: absolute;
  top: -40px;
  left: -25px;
  padding: 50px;
  // background: red;
  // @include opacity(.5);
  content: '';
}
