// !LOGO CAROUSEL
#slider .item {
  margin: 40px;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

#slider-cases .item img {
  display: block;
  width: 100%;
  height: auto;
}

#slider-cases {
  .item {
    width: 100%;


    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
  .case1 {background-image: url('http://img.youtube.com/vi/QNjxX-EZnJk/maxresdefault.jpg');}
  //.case2 {background-image: url('http://img.youtube.com/vi/ncUW6jil-_E/maxresdefault.jpg');}
  .case2 {background-image: url('/modules/core/img/vid_thumb_canadian_tire_sm.png');}
  .case3 {background-image: url('http://img.youtube.com/vi/FA-09MSqUcw/maxresdefault.jpg');}
  .content {display: table; max-height: 800px; height: 70vh;
position: relative;

    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAAXNSR0IArs4c6QAAABdJREFUCB1jYGBgSAPi/yDMCGWkA2kGADPFA8xlPyctAAAAAElFTkSuQmCC") repeat;
        opacity: .85;
        z-index: 1;
      }
      .container { position: relative; z-index: 2;}
  }
}
