// !FOOTER
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footerHeight;
  margin-top: $navbarHeight;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footerHeight;
  background-color: $blue;
  @include respond-to (small) {
    height: 250px;
  };
.list-inline li {margin-left:50px;}
ul {
// height:60px;
padding:18px 0 0 0;
margin:0;
text-transform: capitalize;

    // line-height: 2.5em;

  }

.row {
    // margin-left: 0;
    // margin-right: 0;
    margin-top:38px;



  }

}
