// Capitalize names
/*ICONS INSIDE INPUT FIELDS*/
.left-inner-addon {
    position: relative;
    input {
        padding-left: 40px;
    }
    i {
        position: absolute;
        z-index: 3;
        left: 0;
        font-size: 20px;
        padding: 8px 10px;
        color: $gray-light;
        pointer-events: none;
    }
    .form-label {
        font-size: 1.4em;
        font-style: normal;
    }
    .nya-bs-select > .btn .filter-option {
        margin-left: 75px;
    }
}
.addon-lg i {
    font-size: 30px;
}
.addon-lg input {
    padding-left: 50px;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0;
    padding: 10px 12px;
    pointer-events: none;
}
.form-control,
tags-input .tags {
    // border: white solid 4px;
    color: $gray-dark;
    border: 0;
    border-bottom: $gray 1px solid;
    border-radius: 0;
    // background: $gray-light;
    background: transparent;
    @include box-shadow(0 0 0 0 rgba(0,0,0,0));
}
.form-control:focus {
    border-color: $blue;
}
.form-control:focus + i:before {
    color: $blue !important;
}
.inverse .left-inner-addon i {
    color: $white;
}
.inverse .form-control {
    color: $white;
}
tags-input .tags {
    min-height: 46px;
    .input {
        font-size: 18px;
        width: 100%;
        background: transparent;
        margin: 10px 8px;
        -webkit-appearance: normal !important;
        -moz-appearance: normal !important;
        appearance: normal !important;
    }
    .tag-item {
        color: $white;
        background: $blue;
        border: 0;
        border-radius: 0;
        font-size: 16px;
        height: 36px;
        padding: 6px 8px;
        margin: 4px;
    }
}
tags-input .tags .tag-item .remove-button {
    color: $blue-light;
    text-decoration: none;
    &:hover {
        color: red;
    }
}
.tag-list tags-input .tags .tag-item {
    display: block;
    float: none;
    .remove-button {
        float: right;
        line-height: 1.6em;
    }
}
// placeholder text color
@include placeholder {
    font-style: italic;
    color: inherit !important;
    opacity: 0.5;
}
// SELECT DROPDOWN
.nya-bs-select,
.nya-bs-select > .btn {
    height: 46px;
    font-size: 18px;
    text-shadow: none;
    color: $gray-dark;
    .btn-default.active.focus,
    .btn-default.active:focus,
    .btn-default.active:hover,
    .btn-default:active.focus,
    .btn-default:active:focus,
    .btn-default:active:hover,
    .open > .dropdown-toggle.btn-default.focus,
    .open > .dropdown-toggle.btn-default:focus,
    .open > .dropdown-toggle.btn-default:hover {
        color: $gray-dark;
        background: $gray-light;
    }
}
.inverse .nya-bs-select,
.inverse .nya-bs-select > .btn {
    color: $white;
    background: transparent;
}
.nya-bs-select {
    .dropdown-menu {
        color: $gray;
        font-size: 18px;
        background: $gray-light;
        a {
            height: 40px;
            padding-top: 8px;
        }
    }
    .dropdown-menu > li > a:hover {
        background: $blue;
        color: $white;
    }
    .dropdown-menu > li > a:focus {
        background: $gray;
        color: $white;
    }
}
// RADIO / CHECKBOX
// .radio, .checkbox {
//     display: block;
//     min-height: 20px;
//     padding-left: 20px;
//     margin-top: 10px;
//     margin-bottom: 10px;
//     vertical-align: middle
// }
//
// .radio label, .checkbox label {
//     display: inline;
//     margin-bottom: 0;
//     font-weight: normal;
//     cursor: pointer;
// }
//
// .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"],
// .checkbox-inline input[type="checkbox"] {
//     float: left;
//     margin-left: -20px
// }
//
// .radio + .radio, .checkbox + .checkbox {
//     margin-top: -5px
// }
//
// .radio-inline, .checkbox-inline {
//     display: inline-block;
//     padding-left: 20px;
//     margin-bottom: 0;
//     font-weight: normal;
//     vertical-align: middle;
//     cursor: pointer
// }
//
// .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
//     margin-top: 0;
//     margin-left: 10px
// }
//
// input[type="radio"][disabled], input[type="checkbox"][disabled],
// .radio[disabled], .radio-inline[disabled], .checkbox[disabled],
// .checkbox-inline[disabled], fieldset[disabled] input[type="radio"],
// fieldset[disabled] input[type="checkbox"], fieldset[disabled] .radio,
// fieldset[disabled] .radio-inline, fieldset[disabled] .checkbox, fieldset[disabled] .checkbox-inline {
//     cursor: not-allowed
// }
label.with-radio,
label.with-square-checkbox {
    cursor: pointer;
    font-weight: normal;
}
label.with-radio span,
label.with-square-checkbox span {
    line-height: 24px;
    font-size: 16px;
    // margin-right: 10px;
}
label.with-square-checkbox span::before {
    margin-right: 10px;
    padding-left: 1px;
    width: 21px;
    height: 21px;
    // border: 2px solid gray;
    background: $gray-light;
    display: inline-block;
    line-height: 22px;
    content: '';
    float: left;
}
label.with-radio span::before {
    margin-right: 10px;
    padding-left: 1px;
    width: 21px;
    height: 21px;
    // border: 2px solid gray;
    @include border-radius(10px);
    background: $gray-light;
    display: inline-block;
    line-height: 22px;
    content: '';
    float: left;
}
label.with-radio input[type="radio"],
label.with-square-checkbox input[type="checkbox"] {
    display: none;
}
label.with-square-checkbox input[type="checkbox"]:checked + span::before {
    font-family: 'Glyphicons Halflings';
    content: '\e013';
    color: $success;
}
label.with-radio input[type="radio"]:checked + span::before {
    font-family: 'Glyphicons Halflings';
    font-size: 20px;
    padding-left: 5px;
    line-height: 15px;
    content: '●';
    color: $success;
}
// remove blue hollow on focus
.dropdown-menu > li > a:focus,
.form-control:focus,
input:focus,
tags-input .tags.focused,
tags-input:focus,
textarea:focus {
    outline: 0 !important;
    @include box-shadow (none);
}
// remove yellow autofill color
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px $gray inset;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px $gray inset;
}
.showInvalid input:focus:invalid,
.showInvalid input:required:invalid {
    background-color: $danger;
    //border-bottom: 1px solid $danger;
}
// progress bars
.progress {
    position: fixed;
    height: 35px;
    border-radius: 0;
    margin-top: 0;
    color: $success;
    width: 100%;
    z-index: 5;
    .progress-label {
        font-size: 18px;
        line-height: 1.9em;
        padding-left: 10px;
        small {
            margin-left: 15px;
            @include opacity(.7);
        }
    }
    .progress-bar {
        position: absolute;
        overflow: hidden;
        background-image: none;
        background-color: $success;
        z-index: 1;
        .progress-label-overlay {
            @extend .progress-label;
            color: $white;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}
// Tooltips
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 20px;
    margin-left: -5px;
    border-top-color: $blue;
    border-width: 5px 5px 0;
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 20px;
    margin-left: -5px;
    border-bottom-color: $blue;
    border-width: 0 5px 5px;
}
.tooltip-inner {
    color: $white;
    font-size: 14px;
    background: $blue;
    border: none;
    max-width: 400px;
    padding: 10px;
    vertical-align: middle;
    @include border-radius(0px);
}
// Gear
.gear {
    .section-title {
        margin-bottom: 15px;
    }
    label {
        font-weight: normal;
        text-transform: uppercase;
    }
}
// Tables
.table tbody > tr > td.vertical-align {
    vertical-align: middle;
}
.table.borderless td,
.table.borderless th {
    border-top: none !important;
}
thead {
    background: $blue;
    color: $white;
    tr {
        height: 42px;
    }
    i {
        font-size: 20px;
    }
}
tbody {
    color: black;
    i {
        font-size: 20px;
    }
}
// List group
.list-group {
    // box-shadow: (none);
    border: none;
}
.list-group-item {
    // background: transparent;
    border-bottom: 1px solid $gray-light;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
}
.list-group-item:first-child,
.list-group-item:last-child {
    @include border-radius(0);
}



a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
  background-color: $white !important;
}
