@charset 'utf-8';

/******************
 disable select touch and hold and highlight colors
 ******************/
html {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input {
  -webkit-user-select: auto!important;
  -webkit-touch-callout: default!important;
}

body {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  color: $gray;
}


/* border between columns */
.border-between {
  /* equal height for columns */
  overflow: hidden;
}

.border-between > [class*='col-']:before {
  background: rgba(white ,.2 );
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  width: 1px;
  top: 0;
  /* sets column height to same as others */
  margin-bottom: -999px;
  padding-bottom: 999px;
}

.border-between > [class*='col-']:first-child:before {
  display: none;
}

.fa-map-marker {
  color: $gray;
  padding-right: 7px;
}

.name {
  text-transform: capitalize;
}

.test-red {
  border: red solid thin;
}

.test-green {
  border: green solid thin;
}

.test-blue {
  border: blue solid thin;
}

.img-blue {
  -webkit-filter: url(#duotone);
  //-webkit-filter: sepia(1.0) hue-rotate(150deg);
  filter:  url(#duotone);
  //require SVG filter in html
}

.inverse {

  h1, h2, h3, h4, h5, .section-title, .body-title {color:$white;}

  a, .btn-link {
    color: $white;
  }
  .sep-pointer-out {border-color: $white transparent transparent transparent;}

a:hover,
  a:focus {
    color: white;
  }
}

.inverse.vline > span {background: $white;}


.certified-tag {
  text-transform: uppercase;
    i {color:$blue; padding-right: 5px;}
}

/*
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;

}*/



.not-selectable {
  -webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}

// cursors


.auto            { cursor: auto; }
.default         { cursor: default; }
.none            { cursor: none; }
.context-menu    { cursor: context-menu; }
.help            { cursor: help; }
.pointer         { cursor: pointer; }
.progress        { cursor: progress; }
.wait            { cursor: wait; }
.cell            { cursor: cell; }
.crosshair       { cursor: crosshair; }
.text            { cursor: text; }
.vertical-text   { cursor: vertical-text; }
.alias           { cursor: alias; }
.copy            { cursor: copy; }
.move            { cursor: move; }
.no-drop         { cursor: no-drop; }
.not-allowed     { cursor: not-allowed; }
.all-scroll      { cursor: all-scroll; }
.col-resize      { cursor: col-resize; }
.row-resize      { cursor: row-resize; }
.n-resize        { cursor: n-resize; }
.e-resize        { cursor: e-resize; }
.s-resize        { cursor: s-resize; }
.w-resize        { cursor: w-resize; }
.ns-resize       { cursor: ns-resize; }
.ew-resize       { cursor: ew-resize; }
.ne-resize       { cursor: ne-resize; }
.nw-resize       { cursor: nw-resize; }
.se-resize       { cursor: se-resize; }
.sw-resize       { cursor: sw-resize; }
.nesw-resize     { cursor: nesw-resize; }
.nwse-resize     { cursor: nwse-resize; }
