



// VERICAL CENTERING

@mixin vertical-align {
  // position: relative;
  // top: 50%;
  // -webkit-transform: translateY(-50%);
  // -ms-transform: translateY(-50%);
  // transform: translateY(-50%);
}

// CIRCLES

@mixin circle($width, $color) {
  width: $width;
  height: $width;
  background: $color;
  -webkit-border-radius: $width/2;
  -moz-border-radius: $width/2;
  border-radius: $width/2;
}

// TRANSITIONS

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// CALCULATIONS
@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

// HEADINGS
@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}


// RATIO

// @mixin aspect-ratio($width, $height) {
//     position: relative;
//     &:before{
//         display: block;
//         content: " ";
//         width: 100%;
//         padding-top: ($height / $width) * 100%;
//     }
//
//     > .content {
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//     }
// }
//
// .sixteen-nine {
//   @include aspect-ratio(16,9);
// }

// Placeholder

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}
