

.st-blurred-region {
    -webkit-filter: blur(22px);
    -moz-filter: blur(22px);
    -o-filter: blur(22px);
    -ms-filter: blur(22px);
    filter: blur(22px);
    overflow: hidden;


}

.st-blurred-region-overlay {
	position:fixed;
	/* overflow-y: auto; */
	top:0;
	left:0;
	width:100%;
	/* height:100%; */
  height: 100vh;
  max-height: 100vh;
	background-color:rgba(0,0,0,1);
	z-index:1050 !important;
	/* -webkit-overflow-scrolling: touch; */
  color:white;


}

.vcenter-modal-container {
  position: absolute;
  height: 100%;
  width: 200%;
  left: -50%;
  padding:0 50%;
  display: table;
  .vcenter-modal-content {
    position: relative;
    z-index: 3;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

  }
}

.modalAsPage {background: $black;
  @include calc(height, "100vh - 210px");
.vcenter-modal-container {left:0; padding: 0; width: 100%; position:relative;}
}

// div.cropper-container.cropper-bg {height:600px !important;
// }



.st-blurred-region-close{
	background-color:rgba(0,0,0,0);
  position:absolute;
  top:0;
  right:0;
  z-index: 20;
	border:0px;
	font-size:26px;
	color:$gray;
  margin:20px;
}

.st-blurred-region-close:hover{
	color:$white;
}

.st-blurred-region-close:focus{
	outline: 0;
}

.vertical-line .inverse {
  border-left: thin solid $white;
}
.vertical-line {
  border-left: thin solid $gray;
}

.vertical-line-right .inverse {
  border-right: thin solid $white;
}
.vertical-line-right {
  border-right: thin solid $gray;
}
