// !nav top
header.container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}
// Vertical center text on navbar
$elementHeight: 20px;
.navbar-brand {
    // Vertically center the text given $navbarHeight
    font-size: 20px;
    line-height: 1;
    padding: (($navbarHeight - $elementHeight) / 2 - 2) 20px (($navbarHeight - $elementHeight) / 2 + 2);
    @include respond-to (small) {
        padding: (($navbarHeight - $elementHeight) / 2 - 2) 0 0 10px;
    }
    img {
        @include respond-to (small) {
            width: 70%;
            padding-top: 5px;
        }
    }
}
.navbar .nav > li > a {
    padding: (($navbarHeight - $elementHeight) / 2 - 1) 10px (($navbarHeight - $elementHeight) / 2 + 1);
    line-height: 19px;
}
.navbar .navbar-right {
    a {
        color: white;
        text-decoration: none;
        position: relative;
    }
    a:hover {
        color: white;
        text-decoration: none;
    }
    a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -1px;
        left: 0;
        background-color: white;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
.navbar .nav > li {
    margin-right: 30px;
    text-transform: capitalize;
}
// change navbar color on scroll
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    background: rgba(0, 0, 0, 0);
    height: $navbarHeight;
    border: none;
    .container {
        padding-top: 0;
    }
    @include respond-to (small) {
        background-color: $black;
        .navbar-collapse {
            background: $black;
            text-align: center;
        }
        .nav > li {
            margin-left: 30px;
        }
    }
}
.navbar-header {
    height: $navbarHeight;
}
.navbar-toggle {
    margin-top: 18px;
    border-color: $black !important;
    border-radius: 0;
}
.navbar.nonHomePage,
.navbar.scrolled {
    background: $black; //IE
    background: $black; //NON-IE
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
    // font-size: 1.25em;
}
.dropdown-menu {
    background: $gray-dark;
    @include border-radius(0px);
    padding: 0;
}
.dropdown-menu > li > a:hover {
    background: rgba($white, .2);
}
// TABS
.nav-tabs {
    background-color: $gray-light;
    border: 0;
}
.nav-tabs > li > a {
    color: $gray-dark;
}
.nav-tabs.nav-justified > li > a {
    @include border-radius(0px);
}
.nav-tabs > li > a:active,
.nav-tabs > li > a:hover {
    color: $blue;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
    border: transparent;
    background-color: $gray-lighter !important;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:hover {
    border-bottom-color: $gray-lighter;
}
.tab-content {
    background-color: $gray-lighter;
}
// PROFILE TABS adjustments
.profile-tabs {
    .container-fluid {
        position: fixed;
        z-index: 100;
    }
    // .progress {margin-top:0px !important;}
    .tab-content {
        margin-top: 44px;
    }
    .nav-tabs {
        text-transform: uppercase;
    }
}
// Fix for bootstrap stacking tabs on small screens
@media (max-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        border-bottom: 1px solid transparent !important;
        border-radius: 4px 4px 0 0 !important;
        margin-bottom: 0 !important;
    }
}
