/******************
 TYPOGRAPHY
 ******************/


// !EMBED FONTS


@include font-face('ralewayregular', font-files(
    'raleway-regular-webfont.eot',
    'raleway-regular-webfont.woff',
    'raleway-regular-webfont.ttf',
    'raleway-regular-webfont.svg'
),  'raleway-regular-webfont.eot', 'normal', 'normal');


@include font-face('ralewayitalic', font-files(
    'raleway-italic-webfont.eot',
    'raleway-italic-webfont.woff',
    'raleway-italic-webfont.ttf',
    'raleway-italic-webfont.svg'
),  'raleway-italic-webfont.eot', 'normal', 'normal');


@include font-face('ralewaylight', font-files(
    'raleway-light-webfont.eot',
    'raleway-light-webfont.woff',
    'raleway-light-webfont.ttf',
    'raleway-light-webfont.svg'
),  'raleway-light-webfont.eot', 'normal', 'normal');


@include font-face('ralewaybold', font-files(
    'raleway-bold-webfont.eot',
    'raleway-bold-webfont.woff',
    'raleway-bold-webfont.ttf',
    'raleway-bold-webfont.svg'
),  'raleway-bold-webfont.eot', 'normal', 'normal');

// SF font
@include font-face('sf-thin', font-files(
    'sanfranciscotext-thin-webfont.eot',
    'sanfranciscotext-thin-webfont.woff',
    'sanfranciscotext-thin-webfont.ttf',
    'sanfranciscotext-thin-webfont.svg'
),  'sanfranciscotext-thin-webfont.eot', 'normal', 'normal');

@include font-face('sf-regular', font-files(
    'sanfranciscotext-regular-webfont.eot',
    'sanfranciscotext-regular-webfont.woff',
    'sanfranciscotext-regular-webfont.ttf',
    'sanfranciscotext-regular-webfont.svg'
),  'sanfranciscotext-regular-webfont.eot', 'normal', 'normal');


@include font-face('sf-bold', font-files(
    'sanfranciscotext-bold-webfont.eot',
    'sanfranciscotext-bold-webfont.woff',
    'sanfranciscotext-bold-webfont.ttf',
    'sanfranciscotext-bold-webfont.svg'
),  'sanfranciscotext-bold-webfont.eot', 'normal', 'normal');


// !EMBED ICONS



@include font-face('Linearicons', font-files(
    'Linearicons.eot',
    'Linearicons.woff',
    'Linearicons.ttf',
    'Linearicons.svg'
),  'Linearicons.eot', 'normal', 'normal');





// FONT SIZE MIXIN (keep it outside of mixin files for quick refference)
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// !DEFAULT FONT

body {font-family: 'sf-regular';
  @include font-size(1.6);
line-height: 1.6em;
}


// p {@include font-size(1.6);}



 h1,h2,h3,h4,h5 {
	font-family:'sf-regular';
  font-weight: normal !important;
	-webkit-font-smoothing:antialiased;
  color:$black;



}

h1 {
	@include font-size(6);
  font-family: 'sf-thin';
  letter-spacing: -2px;
  .section-title {position: absolute; margin-top: -50px;}
}

h2 {
	@include font-size(5);
  font-family: 'sf-thin';
  letter-spacing: -2px;
}

h3 {
	@include font-size(3);
}

h4 {
	@include font-size(2);
}

h5 {
	@include font-size(1.8);
}

h6 {
	@include font-size(1.6);
}




.section-title {
  @include font-size(1.2);
  font-family:'sf-bold';
  text-transform: uppercase;
  letter-spacing: 0px;
  color:$black;
}
.body-title {
  @include font-size(1.4);
  font-family:'sf-bold';
  text-transform: uppercase;
  letter-spacing: 0px;
  color: $black;
}

.card-meta {
  @include font-size(1);
  font-family:'sf-bold';
  text-transform: uppercase;
  letter-spacing: 0px;
  color: $gray;
}

.text-muted {color: inherit; opacity: .5;}

.lowercase {text-transform: lowercase; }
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }


// font smoothing
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
