@import 'compass/css3';

// Variables
// --------------------------------------------------


//== Colors

$white: #fff;
$black: #000;

$blue:#05b7c7 !default;
$blue-dark:              darken($blue, 20%) !default;
$blue-light:             lighten($blue, 40%) !default;

$gray:                   lighten($black, 65%) !default;
$gray-dark:              darken($gray, 20%) !default;
$gray-light:             lighten($gray, 20%) !default;
$gray-lighter:           lighten($gray, 30%) !default;


$primary:         darken($blue, 6.5%) !default;
$success:         #5cb85c !default;
$info:            #5bc0de !default;
$warning:         #f0ad4e !default;
$danger:          #d9534f !default;


$form: lighten($gray,30% );

// nav & footer heights

$navbarHeight: 70px;
$footerHeight: 140px;
